<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microdata.osmpservice.dao.pms.ServerDao">
    <select id="findByCondition" resultType="com.microdata.osmpservice.entity.model.ServerVO"
            parameterType="java.util.Map">
        SELECT h.ip ip,h.host_name serverName
        FROM pms_host h
        <where>
            <if test="category!=null and category!=''">
                AND h.host_lx=#{category}
            </if>
            AND h.host_lb='服务器'
        </where>
        LIMIT #{start},#{limit}
    </select>
    <select id="findByIp" resultMap="serverMap" parameterType="string">
      SELECT * FROM pms_server WHERE ip=#{ip}
    </select>
    <resultMap id="serverMap" type="com.microdata.osmpservice.entity.po.Server">
        <result column="id" property="id"/>
        <result column="ip" property="ip"/>
        <result column="server_cycle" property="cycle"/>
        <result column="server_time_begin" property="beginTime"/>
        <result column="server_time_end" property="endTime"/>
        <result column="cpu_warning" property="cpuWarning"/>
        <result column="memory_warning" property="memoryWarning"/>
        <result column="io_warning" property="ioWarning"/>
        <result column="v_memory_warning" property="virtualMemoryWarning"/>
        <result column="storage_warning" property="storageWarning"/>
        <result column="server_jkbz" property="monitoringFlag"/>
    </resultMap>
</mapper>