<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microdata.osmpservice.dao.ServerDao">
    <select id="findByCondition" resultType="com.microdata.osmpservice.entity.model.ServerVO"
            parameterType="java.util.Map">
        SELECT h.ip ip,h.host_name serverName
        FROM pms_host h
        <where>
            <if test="category!=null and category!=''">
                AND h.host_lx=#{category}
            </if>
            AND h.host_lb='服务器'
        </where>
        LIMIT #{start},#{limit}
    </select>
</mapper>